*{
	padding: 0px;
	margin: 0px;
}

.container{
	margin: 0px auto;
	max-width: 1160px;
	height: auto;
}

header {
	position: fixed;
	z-index: 2;
	width: 100%;
	font-family: arial;
	font-weight: bold;
	width: 100%;
	height: 90px;
	display: block;
}

header {
	transition:all 0.6s ease;
}

#logo {
	font-size: 30px;
	color: #E8E6E5;
	cursor: pointer;
	margin-left: 9px;
	display: inline-block;
}

.social {
	height: 38px;
	float: right;
}

#google {
	margin-top: 8px;
	width: 23px;
	height: auto;
}

#facebook {
	margin-right: 140px;
}

nav {
	position: relative;
	padding: 20px;
	display: block;
	width:100%;
	height: auto; 
}

nav ul li {
	font-size: 14px;
	display: inline-block;
	padding: 5px 10px 5px 10px;
	float: left;
}

.resize {
	padding: 6.5px 10px 6.5px 10px;
}

nav ul li a:hover{
	color: #A8A8A8;
}

nav a {
	position: relative;
	color: #E8E6E5;
	text-decoration: none;
}

nav ul li ul{
	display: none;
}


nav ul li ul li{
	display: block;
	float: none;
	padding:10px;
	padding-right: 30px;
}

nav ul li ul li:hover {
	background-color: #706F6D;
}

nav ul li:hover ul {
	position: absolute;
	display: block;
	margin: 5px 5px 0px 0px;
	background-color: rgba(0,0,0,0.8);
}

header.sticky {
	background-color: rgba(0,0,0,1);
	height: 65px;
	padding-top: 6px;
	padding-bottom: 3px;
}

header.sticky nav {
	padding: 0px;
}


/* video and image*/
#imageDiv{
	position: absolute;
	top: 200px;
	left: 560px;
}

/*
*/
/*after video ie paragraphs and all
font-family: 'Open Sans', sans-serif;
*/
section {
	z-index: 1;
}

section p,span {
	display: inline-block;
	width: 245px;
	height: auto;
	margin-left: 50px;
	float: left;
	padding: 20px 0px;
	font-family: arial;
	word-spacing: 10px;

}

#fourTexts {
	padding-top: 50px;
	height: 280px;
	align-items: center;
	justify-content: center;
}

span{
	margin-left: 0px;
}

#black {
	clear: both;
	background-color: black;
	width: 100%;
	height: 200px;
}

footer {
	background-color: grey;
	width: 100%;
	height: 200px;
	margin-top: 20px;
}